*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
local/
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
server/config.yaml
google-services.json
GoogleService-Info.plist
